<body>
    <button routerLink="" class="back_button"><i class="bi bi-backspace"></i>Back</button>
    <div class="first_proj">
        <div class="video_proj">
            <video width="340" height="260" controls>
                <source src="/assets/inventorysystem.mp4">
            </video>
            <div class="infor_proj">
                <h2>A simple Inventory System</h2>
                <hr>
                <p>This was made with <span><img src="/assets/html5480.png" alt="">, <img src="/assets/css.png" alt="">, <img src="/assets/docker.png" alt="">, <img src="/assets/php.png" alt="">, and MariaDB</span>. This project was required by my professor and the <br>
                    project was made at 4th year first-semester, this inventory system was my prelim, my professor told us that <br>
                    whoever finished it at top 5 will become excemted at midterm exam and I think I'm the one who finished it first. <br>
                    Creating this project was so challenging because I know knothing about Docker and Git bash but at the end  <br>
                    because of many fails and errors I learned a lot and I ended up finishing the project.</p>
            </div>
        </div>
    </div>
    <div class="second_proj2">
        <div class="video_proj2">
            <div class="infor_proj2">
                <h2>AfterPets</h2>
                <hr>
                <p>This was made with pure <span><img src="/assets/html5480.png" alt="">, <img src="/assets/css.png" alt=""></span>. This project was required by my professor and the <br>
                    project was made at 3rd year first-semester, this afterpets project is a group with 5 members. I'm responsible for coding <br>and the other are for the design and assets, sometimes they are helping with the coding part when im away.  <br>
                    this project is all front-end because backend is not required.</p>
            </div>
            <video width="340" height="260" controls>
                <source src="/assets/afterpets.mp4">
            </video>
        </div>
    </div>
</body>