<body>
    <div class="landing_page_content">
            <h1> Hello, I'm <span>{{ landingPageContent.fname }} {{ landingPageContent.lname }}</span><span class="loader"></span></h1>
            <h2>I am a {{ landingPageContent.info }} student, and currently a <span>{{ landingPageContent.job }}</span>..</h2>
            <!-- <h2>Looking for an opportunity to apply creative, analytical and communicative skills on a development team.</h2> -->
    </div>
    <button routerLink="about">
        More
    </button>
</body>
